.catCard {
  width: 252px;
  height: 344px;
  color: white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;

  .catCard:hover{
    width: 260px;
    height: 350px;
    transform: scale(1.05);
    
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: background-color 0.3s ease;
  }

  img:hover{
    width: 260px;
    height: 350px;
    box-shadow: 30%;


  }

  .desc {
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .title {
    position: absolute;
    top: 40px;
    left: 15px;
    font-size:24px;
    font-weight: 500;
  }
}
